* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 20px;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Titulo*/

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

h1 {
  font-size: 6rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  width: 100px;
  height: 100px;
}


/* Containers*/

.container-searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-list {
  display: flex;
  flex: 1 1;
  width: 100%;
  justify-content: space-around;
  align-items: center;

}


/*Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;


}